@font-face{
  font-family: sw;
  src:url(SWLink.ttf);
}
body{
  margin: 0;
  padding: 0;
  background: #e6e6e6;
  font-family: sw;
  font-weight: bold;
  line-height: 1;
}
.text-center{
  display:none;
}
.info{
  padding: 0;
  min-height: 60vh;
}
.loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -35px 0 0 -35px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.topwrap{
  overflow: hidden;
  background-color: #828282;
  position: fixed;
  top: 0;
  width: 100%;
  height: 33px;
}
.topwrap a{
  float: right;
  color: #d1d1d1;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: -3px;
}
.topwrap a:hover {
  background-color: #eeeeee;
  color: rgb(36, 36, 36);
}
.title{
  color: rgb(83, 83, 83);
  font-size: 40px;
  text-shadow: 0px 3px 4px #6b6b6b;
  letter-spacing: 0px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clickbox{
  position: absolute;
  color: rgb(83, 83, 83);
  letter-spacing: -4px;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap{
  width: 23%;
  position: absolute;
  top:55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchbar {
  width: 100%;
  border: 2px solid #a7a7a7;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: sw;
  letter-spacing: -5px;
  font-size: 17px;
}
.searchbar:focus{
  color: #323232;
}
.searchButton {
  width: 34px;
  height: 34px;
  border: 0.1px solid #6e6e6e;
  background: #bababa;
  text-align: center;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton:hover{
  background: #6e6e6e;
}
.iconword{
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
